.section-header > .content > .title::after, .section-header > .content > .title:before {
  background-color: #2196f3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 500ms linear;
  z-index: -1;
}

.section-header > .content > .title:hover:before, .section-header > .content > .title:hover:after {
  width: 51%;
  height: 100%;
  border-radius: unset;
}

#pricing-plans .pricing-plan .pricing-plan-boxs .box, #services .services .services-boxs .box, #features .features .features-content .boxs .box, #gallery .gallery-content .boxs .box, #articles .content .boxs .box {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.outer--our-awesome-state .our-awesome-state .discount-content .discount-definition::before, .outer--our-awesome-state .our-awesome-state .our-awesome-state-content::before, #how-it-works .how-it-work .how-it-work-content .work-steps .box:before, #services .services .services-boxs .box .footer .number:after, #services .services .services-boxs .box .footer .number:before, #features .features .features-content .boxs .box .footer button::before, #features .features .features-content .boxs .box .image::after, #features .features .features-content .boxs .box .image::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#services::before, #gallery::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
  z-index: 1;
}

.pro-reactjs::before, .pro-js::before, .pro-sass::before, .pro-css::before, .pro-html::before {
  padding: 0.1rem;
  font-size: 0.6rem;
  color: #2196f3;
  border: solid #666 1px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style-type: none;
}

section {
  position: relative;
  z-index: 1;
}

.container {
  width: 90%;
  margin: auto;
  height: 100%;
}
@media (min-width: 1700px) {
  .container {
    width: 50%;
  }
}

svg {
  color: #2196f3;
  width: 22px;
}

section:not(:first-of-type) {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-header {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}
.section-header > .content > .title {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: solid grey 1px;
  position: relative;
  transition: color 500ms 100ms;
}
@media (min-width: 768px) {
  .section-header > .content > .title {
    font-size: 2.5rem;
  }
}
.section-header > .content > .title:before {
  content: "";
  left: -15%;
}
.section-header > .content > .title::after {
  content: "";
  right: -15%;
}
.section-header > .content > .title:hover {
  color: white;
}
.section-header > .content > .title:hover:before {
  left: 0;
}
.section-header > .content > .title:hover:after {
  right: 0;
}

.have-dots {
  position: relative;
}
.have-dots::before, .have-dots::after {
  content: "";
  position: absolute;
  background-image: url("../imgs/dots.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  display: none;
}
@media (min-width: 992px) {
  .have-dots::before, .have-dots::after {
    display: block;
  }
}
.have-dots::before {
  left: 0;
  bottom: 25%;
}
.have-dots::after {
  right: 0;
  top: 25%;
}

.layout-red .image::before {
  background-color: rgba(244, 64, 54, 0.6);
}
.layout-red .box-content .title::after {
  background-color: rgba(244, 64, 54, 0.6);
}
.layout-red .footer button {
  color: rgba(244, 64, 54, 0.6);
  border: 1px solid rgba(244, 64, 54, 0.6);
}
.layout-red .footer button::before {
  background-color: rgba(244, 64, 54, 0.6);
}

.layout-green .image::before {
  background-color: rgba(0, 150, 136, 0.6);
}
.layout-green .box-content .title::after {
  background-color: rgba(0, 150, 136, 0.6);
}
.layout-green .footer button {
  color: rgba(0, 150, 136, 0.6);
  border: 1px solid rgba(0, 150, 136, 0.6);
}
.layout-green .footer button::before {
  background-color: rgba(0, 150, 136, 0.6);
}

.layout-blue .image::before {
  background-color: rgba(3, 169, 244, 0.6);
}
.layout-blue .box-content .title::after {
  background-color: rgba(3, 169, 244, 0.6);
}
.layout-blue .footer button {
  color: rgba(3, 169, 244, 0.6);
  border: 1px solid rgba(3, 169, 244, 0.6);
}
.layout-blue .footer button::before {
  background-color: rgba(3, 169, 244, 0.6);
}

.pro-html::before {
  content: "80%";
}
@media (min-width: 768px) {
  .pro-html::before {
    font-size: 0.9rem;
  }
}
.pro-html + .progress {
  background-image: linear-gradient(to right, #2196f3 80%, transparent 80%);
}

.pro-css::before {
  content: "85%";
}
@media (min-width: 768px) {
  .pro-css::before {
    font-size: 0.9rem;
  }
}
.pro-css + .progress {
  background-image: linear-gradient(to right, #2196f3 85%, transparent 85%);
}

.pro-sass::before {
  content: "80%";
}
@media (min-width: 768px) {
  .pro-sass::before {
    font-size: 0.9rem;
  }
}
.pro-sass + .progress {
  background-image: linear-gradient(to right, #2196f3 80%, transparent 80%);
}

.pro-js::before {
  content: "75%";
}
@media (min-width: 768px) {
  .pro-js::before {
    font-size: 0.9rem;
  }
}
.pro-js + .progress {
  background-image: linear-gradient(to right, #2196f3 75%, transparent 75%);
}

.pro-reactjs::before {
  content: "80%";
}
@media (min-width: 768px) {
  .pro-reactjs::before {
    font-size: 0.9rem;
  }
}
.pro-reactjs + .progress {
  background-image: linear-gradient(to right, #2196f3 80%, transparent 80%);
}

header#header {
  background-color: white;
  box-shadow: 0 0 1px 0 black;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
header#header .header {
  text-align: center;
}
@media (min-width: 768px) {
  header#header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
header#header .header .logo h2 {
  padding: 1rem;
  padding-left: 0%;
  color: #2196f3;
  font-size: 2rem;
}
header#header .header nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  header#header .header nav > ul {
    justify-content: space-evenly;
    align-items: center;
  }
}
header#header .header nav > ul li.headerouterlinks > a {
  color: black;
  position: relative;
  overflow: hidden;
  transition: color 300ms ease-out;
  padding: 0.5rem;
}
@media (min-width: 600px) {
  header#header .header nav > ul li.headerouterlinks > a {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  header#header .header nav > ul li.headerouterlinks > a {
    font-size: 1.15rem;
    padding: 1.5rem;
  }
}
header#header .header nav > ul li.headerouterlinks > a::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  width: 0%;
  height: calc(100% - 4px);
  border-bottom: solid #2196f3 4px;
  transition: width 300ms ease-out;
}
header#header .header nav > ul li.headerouterlinks > a:hover::before {
  width: 100%;
}
header#header .header nav > ul li.headerouterlinks > a:hover {
  color: #2196f3;
  background-color: #fafafa;
}
header#header .header nav > ul li.headerouterlinks.otherlinks .outheader {
  opacity: 0;
  visibility: hidden;
  background-color: white;
  position: absolute;
  padding: 1rem;
  top: 150%;
  left: 0%;
  width: 100%;
  text-align: left;
  transition: top 300ms ease-out;
  box-shadow: 0 0 1px 0 grey;
  border-bottom: solid #2196f3 2px;
  overflow: hidden;
}
@media (min-width: 768px) {
  header#header .header nav > ul li.headerouterlinks.otherlinks .outheader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 330px;
  }
}
@media (min-width: 992px) {
  header#header .header nav > ul li.headerouterlinks.otherlinks .outheader {
    display: flex;
    height: 350px;
  }
  header#header .header nav > ul li.headerouterlinks.otherlinks .outheader > * {
    width: 50%;
  }
}
@media (min-width: 1700px) {
  header#header .header nav > ul li.headerouterlinks.otherlinks .outheader {
    column-gap: 7rem;
  }
}
header#header .header nav > ul li.headerouterlinks.otherlinks .outheader .img {
  display: none;
  padding: 1rem;
}
@media (min-width: 992px) {
  header#header .header nav > ul li.headerouterlinks.otherlinks .outheader .img {
    display: block;
  }
}
header#header .header nav > ul li.headerouterlinks.otherlinks .outheader .img img {
  width: 70%;
}
@media (min-width: 1700px) {
  header#header .header nav > ul li.headerouterlinks.otherlinks .outheader .img img {
    width: 100%;
  }
}
header#header .header nav > ul li.headerouterlinks.otherlinks .outheader ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
@media (min-width: 768px) {
  header#header .header nav > ul li.headerouterlinks.otherlinks .outheader ul {
    column-gap: 20px;
  }
}
header#header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li:not(:last-child) a {
  border-bottom: solid 1px #e9e6e6;
}
@media (min-width: 768px) {
  header#header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li:nth-child(5) a {
    border-bottom: none;
  }
}
header#header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li a {
  color: #2196f3;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
header#header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li a:hover {
  background-color: #fafafa;
}
header#header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li a > svg {
  margin-right: 4px;
}
header#header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li a > * {
  vertical-align: middle;
}
@media (min-width: 768px) {
  header#header .header nav > ul li.headerouterlinks.otherlinks .outheader {
    left: 5%;
    width: 90%;
  }
}
header#header .header nav > ul li.headerouterlinks.otherlinks:hover .outheader {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.outer--landing {
  height: calc(100vh - 73px);
}
.outer--landing::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: -1;
}
.outer--landing .landing {
  height: 100%;
  display: flex;
  align-items: center;
}
.outer--landing .landing .landingtext {
  padding: 1.9rem;
  text-align: center;
}
@media (min-width: 600px) {
  .outer--landing .landing .landingtext {
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .outer--landing .landing .landingtext {
    width: auto;
    margin: none;
    text-align: left;
    padding-left: 0%;
    padding-right: 0%;
  }
}
.outer--landing .landing .landingtext h1 {
  font-size: 1.6rem;
  padding: 1.2rem;
}
@media (min-width: 600px) {
  .outer--landing .landing .landingtext h1 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .outer--landing .landing .landingtext h1 {
    font-size: 2.4rem;
    padding-left: 0%;
  }
}
.outer--landing .landing .landingtext p {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
@media (min-width: 992px) {
  .outer--landing .landing .landingtext p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.outer--landing .landing .img {
  display: none;
}
@media (min-width: 992px) {
  .outer--landing .landing .img {
    display: block;
  }
}
.outer--landing .landing .img img {
  width: 100%;
  height: 100%;
  animation-name: landingImg;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.outer--landing .godown {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 15px);
  animation-name: goDown;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.outer--landing .godown svg {
  width: 30px;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes landingImg {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(5%);
  }
}
@keyframes goDown {
  0%, 70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-30%);
  }
  85% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}
#articles .content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 40px;
}
#articles .content .boxs .box {
  border-radius: 10px;
  transition: transform 500ms;
}
#articles .content .boxs .box > {
  width: 100%;
}
#articles .content .boxs .box:hover {
  transform: translateY(-5%);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}
#articles .content .boxs .box:hover .footer svg {
  animation-play-state: running;
}
#articles .content .boxs .box .image img {
  width: 100%;
}
#articles .content .boxs .box .box-content {
  padding: 1rem;
}
#articles .content .boxs .box .box-content .title h5 {
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}
#articles .content .boxs .box .box-content .text-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #666;
}
#articles .content .boxs .box .footer {
  padding: 1rem;
  border-top: solid rgba(0, 0, 0, 0.1) 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#articles .content .boxs .box .footer span {
  font-weight: bold;
  color: #2196f3;
}
#articles .content .boxs .box .footer svg {
  animation: arrow 500ms linear infinite;
  animation-play-state: paused;
}

@keyframes arrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(40%);
  }
}
#gallery {
  position: relative;
  background-color: #ececec;
}
#gallery::before {
  content: "";
}
#gallery .gallery-content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#gallery .gallery-content .boxs .box {
  background-color: white;
  padding: 1rem;
}
#gallery .gallery-content .boxs .box .image {
  overflow: hidden;
  position: relative;
}
#gallery .gallery-content .boxs .box .image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(0);
  z-index: 1;
  transition: transform 200ms ease-out, background-color 0s 300ms;
}
#gallery .gallery-content .boxs .box .image:hover::before {
  transform: scale(1);
  background-color: transparent;
}
#gallery .gallery-content .boxs .box .image:hover img {
  transform: rotatez(5deg) scale(1.1);
}
#gallery .gallery-content .boxs .box .image img {
  width: 100%;
  transition: transform 100ms ease-in;
}

#features .features .features-content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
}
#features .features .features-content .boxs .box:hover .image::after {
  clip-path: polygon(0 50%, 0% 100%, 100% 100%);
}
#features .features .features-content .boxs .box .image {
  position: relative;
  overflow: hidden;
}
#features .features .features-content .boxs .box .image::before {
  content: "";
  height: calc(100% - 3px);
}
#features .features .features-content .boxs .box .image::after {
  content: "";
  background-color: white;
  clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
  transition: clip-path 300ms;
}
#features .features .features-content .boxs .box .image img {
  width: 100%;
}
#features .features .features-content .boxs .box .box-content .title {
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem;
  position: relative;
}
#features .features .features-content .boxs .box .box-content .title::after {
  content: "";
  width: 50%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#features .features .features-content .boxs .box .box-content .title h4 {
  font-size: 2rem;
}
#features .features .features-content .boxs .box .box-content .content {
  padding: 2rem;
}
#features .features .features-content .boxs .box .box-content .content p {
  text-align: center;
  line-height: 1.8rem;
  color: #666;
}
#features .features .features-content .boxs .box .footer {
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem;
}
#features .features .features-content .boxs .box .footer button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
#features .features .features-content .boxs .box .footer button:hover {
  color: white;
}
#features .features .features-content .boxs .box .footer button:hover::before {
  width: 100%;
}
#features .features .features-content .boxs .box .footer button::before {
  content: "";
  width: 0;
  z-index: -1;
  transition: width 200ms;
}

#testimonials {
  background-color: #ececec;
}
#testimonials .testimonials .testimonials-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#testimonials .testimonials .testimonials-boxs .box {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
#testimonials .testimonials .testimonials-boxs .box .image {
  position: absolute;
  top: -35px;
  right: -1px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #ececec;
}
#testimonials .testimonials .testimonials-boxs .box .image img {
  width: 100%;
}
#testimonials .testimonials .testimonials-boxs .box .box-content > * {
  margin: 5px 0;
}
#testimonials .testimonials .testimonials-boxs .box .box-content .name {
  font-size: 1.5rem;
}
#testimonials .testimonials .testimonials-boxs .box .box-content .title,
#testimonials .testimonials .testimonials-boxs .box .box-content .content-text {
  color: #666;
}
#testimonials .testimonials .testimonials-boxs .box .box-content .rank svg.h-5 {
  color: gold;
}
#testimonials .testimonials .testimonials-boxs .box .box-content .rank svg.h-6 {
  color: black;
}
#testimonials .testimonials .testimonials-boxs .box .box-content .content-text {
  line-height: 1.3rem;
}

#team-members .team-members .team-members-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#team-members .team-members .team-members-boxs .box {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 2rem;
  border-radius: 20px;
  overflow: hidden;
}
#team-members .team-members .team-members-boxs .box:hover::after {
  width: 80%;
}
#team-members .team-members .team-members-boxs .box:hover .header .image img {
  filter: grayscale(100%);
}
#team-members .team-members .team-members-boxs .box:hover .footer .name {
  color: #666;
}
#team-members .team-members .team-members-boxs .box::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #eeeeee50;
  border-radius: 20px;
}
#team-members .team-members .team-members-boxs .box::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #ececec;
  border-radius: 20px;
  transition: width 300ms;
}
#team-members .team-members .team-members-boxs .box .header {
  display: flex;
}
#team-members .team-members .team-members-boxs .box .header .image {
  overflow: hidden;
  border-radius: 20px;
}
#team-members .team-members .team-members-boxs .box .header .image img {
  width: 100%;
  transition: filter 300ms;
}
#team-members .team-members .team-members-boxs .box .header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
}
#team-members .team-members .team-members-boxs .box .header .icons svg {
  color: #666;
}
#team-members .team-members .team-members-boxs .box .footer {
  display: flex;
  flex-direction: column;
  padding-inline-start: 6rem;
}
#team-members .team-members .team-members-boxs .box .footer .name {
  color: #2196f3;
  font-size: 1.7rem;
}
#team-members .team-members .team-members-boxs .box .footer .content {
  color: #666;
}

#services {
  position: relative;
  background-color: #ececec;
}
#services::before {
  content: "";
}
#services .services .services-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#services .services .services-boxs .box {
  background-color: white;
  transition: transform 500ms;
  position: relative;
}
#services .services .services-boxs .box:hover {
  transform: translateY(-10%);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}
#services .services .services-boxs .box:hover::before {
  width: 100%;
  left: 0;
}
#services .services .services-boxs .box::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 50%;
  top: 0;
  transition: width 500ms, left 500ms;
}
#services .services .services-boxs .box .box-content {
  padding: 1.5rem;
}
#services .services .services-boxs .box .box-content .icon {
  text-align: center;
}
#services .services .services-boxs .box .box-content .icon svg {
  color: rgba(102, 102, 102, 0.3);
  width: 120px;
}
#services .services .services-boxs .box .box-content .title {
  color: #2196f3;
  font-size: 1.7rem;
  text-align: center;
}
#services .services .services-boxs .box .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #eee 25%, white);
  overflow: hidden;
}
#services .services .services-boxs .box .footer .number {
  background-color: #2196f3;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
#services .services .services-boxs .box .footer .number:before {
  content: "";
  left: 30%;
  background-color: #2196f3;
  z-index: -1;
  transform: skewX(333deg);
}
#services .services .services-boxs .box .footer .number:after {
  content: "";
  left: 100%;
  background-color: #d5d5d5;
  z-index: -2;
  transform: skewX(333deg);
}
#services .services .services-boxs .box .footer .details {
  text-transform: capitalize;
  padding: 1rem;
  color: #2196f3;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  #our-skills .our-skills .our-skills-content {
    display: flex;
  }
}
#our-skills .our-skills .our-skills-content .image {
  display: none;
}
@media (min-width: 768px) {
  #our-skills .our-skills .our-skills-content .image {
    display: block;
  }
}
@media (min-width: 992px) {
  #our-skills .our-skills .our-skills-content .image {
    width: 45%;
  }
}
#our-skills .our-skills .our-skills-content .image img {
  width: 100%;
}
@media (min-width: 992px) {
  #our-skills .our-skills .our-skills-content .progresss {
    width: 55%;
  }
}
#our-skills .our-skills .our-skills-content .progresss .pro-content {
  position: relative;
  margin: 1rem 0;
  font-weight: bold;
}
#our-skills .our-skills .our-skills-content .progresss .pro-content:first-child {
  margin-top: 0;
}
@media (min-width: 992px) {
  #our-skills .our-skills .our-skills-content .progresss .pro-content {
    font-size: 1.3rem;
  }
}
#our-skills .our-skills .our-skills-content .progresss .progress {
  height: 2rem;
}

#how-it-works {
  background-color: #ececec;
}
#how-it-works .how-it-work .how-it-work-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 992px) {
  #how-it-works .how-it-work .how-it-work-content {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  #how-it-works .how-it-work .how-it-work-content .image {
    width: 45%;
  }
}
#how-it-works .how-it-work .how-it-work-content .image img {
  width: 100%;
}
@media (min-width: 992px) {
  #how-it-works .how-it-work .how-it-work-content .work-steps {
    width: 55%;
  }
}
#how-it-works .how-it-work .how-it-work-content .work-steps .box {
  background-color: #f6f5f5;
  padding: 3rem;
  border: 2px solid white;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}
#how-it-works .how-it-work .how-it-work-content .work-steps .box:not(:first-child) {
  margin-top: 10px;
}
@media (min-width: 768px) {
  #how-it-works .how-it-work .how-it-work-content .work-steps .box {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 992px) {
  #how-it-works .how-it-work .how-it-work-content .work-steps .box {
    padding: 1rem;
  }
}
#how-it-works .how-it-work .how-it-work-content .work-steps .box:hover::before {
  transform: scale(1);
}
#how-it-works .how-it-work .how-it-work-content .work-steps .box:before {
  content: "";
  background-color: #ececec;
  border-radius: inherit;
  transform: scale(0);
  transition: transform 500ms;
  z-index: -1;
}
#how-it-works .how-it-work .how-it-work-content .work-steps .box .box-image {
  text-align: center;
}
#how-it-works .how-it-work .how-it-work-content .work-steps .box .box-image img {
  width: 30%;
}
@media (min-width: 768px) {
  #how-it-works .how-it-work .how-it-work-content .work-steps .box .box-image {
    width: 20%;
  }
  #how-it-works .how-it-work .how-it-work-content .work-steps .box .box-image img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #how-it-works .how-it-work .how-it-work-content .work-steps .box .box-image {
    width: 30%;
  }
  #how-it-works .how-it-work .how-it-work-content .work-steps .box .box-image img {
    width: 80%;
  }
}
#how-it-works .how-it-work .how-it-work-content .work-steps .box .content {
  text-align: center;
}
@media (min-width: 768px) {
  #how-it-works .how-it-work .how-it-work-content .work-steps .box .content {
    text-align: start;
    padding-inline-start: 2rem;
  }
}
#how-it-works .how-it-work .how-it-work-content .work-steps .box .content .title {
  font-size: 1.5rem;
  margin: 1rem 0;
}
#how-it-works .how-it-work .how-it-work-content .work-steps .box .content p {
  color: #666;
  line-height: 1.9rem;
}

@media (min-width: 992px) {
  #latest-events .latest-events .latest-events-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
#latest-events .latest-events .latest-events-content .image {
  display: none;
}
@media (min-width: 992px) {
  #latest-events .latest-events .latest-events-content .image {
    display: block;
    width: 50%;
  }
}
#latest-events .latest-events .latest-events-content .image img {
  width: 100%;
  object-fit: cover;
}
#latest-events .latest-events .latest-events-content .event-time {
  text-align: center;
}
@media (min-width: 992px) {
  #latest-events .latest-events .latest-events-content .event-time {
    width: 50%;
  }
}
#latest-events .latest-events .latest-events-content .event-time .time-boxs {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}
@media (min-width: 992px) {
  #latest-events .latest-events .latest-events-content .event-time .time-boxs {
    gap: 1rem;
  }
}
#latest-events .latest-events .latest-events-content .event-time .time-boxs .box {
  border-radius: 0.5rem;
  border: 1px solid grey;
}
#latest-events .latest-events .latest-events-content .event-time .time-boxs .box > * {
  display: block;
}
#latest-events .latest-events .latest-events-content .event-time .time-boxs .box .time {
  color: #2196f3;
  padding: 1.5rem 1rem;
}
@media (min-width: 992px) {
  #latest-events .latest-events .latest-events-content .event-time .time-boxs .box .time {
    padding: 2rem 1rem;
    font-size: 2rem;
  }
}
#latest-events .latest-events .latest-events-content .event-time .time-boxs .box .time-title {
  font-size: 0.6rem;
  border-top: 1px solid grey;
  padding: 0.5rem;
}
@media (min-width: 992px) {
  #latest-events .latest-events .latest-events-content .event-time .time-boxs .box .time-title {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}
#latest-events .latest-events .latest-events-content .event-time h5.title {
  font-size: 1.2rem;
  margin-block: 1.5rem;
}
@media (min-width: 768px) {
  #latest-events .latest-events .latest-events-content .event-time h5.title {
    font-size: 2.5rem;
  }
}
#latest-events .latest-events .latest-events-content .event-time p {
  line-height: 2rem;
  color: #666;
}
#latest-events .latest-events .footer {
  margin-block-start: 2rem;
}
#latest-events .latest-events .footer form {
  width: 100%;
  margin-inline: auto;
  text-align: center;
  padding: 1.5rem 3rem;
  background-color: #ececec;
}
@media (min-width: 992px) {
  #latest-events .latest-events .footer form {
    width: 50%;
    border-radius: 3rem;
  }
}
#latest-events .latest-events .footer form [type=email] {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  outline: none;
  border: none;
}
@media (min-width: 992px) {
  #latest-events .latest-events .footer form [type=email] {
    margin-bottom: unset;
    margin-right: 5px;
    width: 70%;
    border-radius: 3rem;
  }
}
#latest-events .latest-events .footer form [type=email]:focus::placeholder {
  color: rgba(128, 128, 128, 0.4);
}
#latest-events .latest-events .footer form [type=submit] {
  width: 100%;
  background-color: #2196f3;
  color: white;
  outline: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
@media (min-width: 992px) {
  #latest-events .latest-events .footer form [type=submit] {
    width: fit-content;
    border-radius: 3rem;
  }
}
#latest-events .latest-events .footer form [type=submit]:hover, #latest-events .latest-events .footer form [type=submit]:focus {
  opacity: 0.8;
}

#pricing-plans {
  background-color: #ececec;
}
#pricing-plans .pricing-plan .pricing-plan-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box {
  background-color: white;
  padding-block: 2rem;
  position: relative;
  z-index: 1;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box > *:not(.pop) {
  margin-inline: auto;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box > *:not(.pop):not(:last-child, .icon) {
  margin-bottom: 2rem;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box > *:not(.pop):not(.options) {
  width: fit-content;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box:hover::before, #pricing-plans .pricing-plan .pricing-plan-boxs .box:hover::after {
  width: 100%;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 50%;
  width: 0%;
  background-color: rgba(236, 236, 236, 0.5);
  transition: width 500ms;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 50%;
  width: 0%;
  background-color: rgba(236, 236, 236, 0.5);
  transition: width 500ms;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .pop {
  display: none;
  position: absolute;
  top: 0;
  right: -20px;
  width: fit-content;
  color: white;
  background-color: #2196f3;
  padding: 0.5rem 1rem;
  padding-inline-end: 2rem;
  transform: rotateZ(90deg) translatex(35%);
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .pop::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  border: 1.2rem transparent solid;
  border-right-color: white;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box.pro {
  transform: translateY(-1rem);
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box.pro .pop {
  display: block;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .title {
  font-size: 2rem;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .icon svg {
  width: 7rem;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .price {
  text-align: center;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .price h6 {
  font-size: 3.5rem;
  color: #2196f3;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .price span {
  color: #666;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .options .option {
  padding: 1rem;
  border-top: 1px #ececec solid;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .options .option > * {
  vertical-align: middle;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .btn {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: 2px #2196f3 solid;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: #2196f3;
  background-color: white;
  transition: background-color 500ms, color 500ms;
  cursor: pointer;
}
#pricing-plans .pricing-plan .pricing-plan-boxs .box .btn:hover {
  color: white;
  background-color: #2196f3;
}

#top-videos .top-videos .top-videos-content {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 1px;
}
@media (min-width: 768px) {
  #top-videos .top-videos .top-videos-content {
    display: flex;
  }
}
#top-videos .top-videos .top-videos-content .top-videos-list {
  background-color: rgba(236, 236, 236, 0.5);
}
@media (min-width: 768px) {
  #top-videos .top-videos .top-videos-content .top-videos-list {
    width: 30%;
  }
}
#top-videos .top-videos .top-videos-content .top-videos-list .title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
#top-videos .top-videos .top-videos-content .top-videos-list .title h5 {
  font-size: 1rem;
}
@media (min-width: 768px) {
  #top-videos .top-videos .top-videos-content .top-videos-list .title h5 {
    font-size: 1.5rem;
  }
}
#top-videos .top-videos .top-videos-content .top-videos-list .title svg {
  color: black;
}
#top-videos .top-videos .top-videos-content .top-videos-list ul.list li {
  margin: 1px;
  background-color: white;
  padding: 0.8rem;
  cursor: pointer;
}
#top-videos .top-videos .top-videos-content .top-videos-list ul.list li:hover {
  opacity: 0.8;
}
#top-videos .top-videos .top-videos-content .top-videos-list ul.list li:hover h6 {
  color: #2196f3;
}
#top-videos .top-videos .top-videos-content .top-videos-list ul.list li h6 {
  font-weight: 500;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  #top-videos .top-videos .top-videos-content .top-videos-list ul.list li h6 {
    font-size: 1rem;
  }
}
#top-videos .top-videos .top-videos-content .top-videos-list ul.list li span {
  color: #666;
}
#top-videos .top-videos .top-videos-content .video {
  background-color: #ececec;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  #top-videos .top-videos .top-videos-content .video {
    padding: 1rem;
  }
}
#top-videos .top-videos .top-videos-content .video .video-image img {
  width: 100%;
  object-fit: cover;
}
#top-videos .top-videos .top-videos-content .video .videos-title {
  background-color: white;
  padding: 1rem;
}

.outer--our-awesome-state {
  padding-bottom: 0 !important;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content {
  position: relative;
  z-index: 1;
  background-image: url("../imgs/stats.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5rem;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content > .title {
  margin-block-end: 5rem;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content > .title h3 {
  width: fit-content;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .outer--our-awesome-state .our-awesome-state .our-awesome-state-content > .title h3 {
    font-size: 2rem;
  }
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box {
  background-color: white;
  padding-block: 2rem;
  position: relative;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box > * {
  width: fit-content;
  margin-inline: auto;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box:hover::before, .outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box:hover::after, .outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box:focus::before, .outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box:focus::after {
  height: 100%;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box::before, .outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box::after {
  content: "";
  background-color: #2196f3;
  position: absolute;
  width: 2px;
  height: 0;
  transition: height 500ms;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box::before {
  left: -1px;
  bottom: 0;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box::after {
  right: -1px;
  top: 0;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box .icon svg {
  color: black;
  width: 2.5rem;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box .number {
  font-size: 3rem;
  font-weight: bold;
}
.outer--our-awesome-state .our-awesome-state .our-awesome-state-content .content-boxs .box .title {
  color: #2196f3;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}
.outer--our-awesome-state .our-awesome-state .discount-content > * {
  padding: 2rem;
}
@media (min-width: 768px) {
  .outer--our-awesome-state .our-awesome-state .discount-content {
    display: flex;
  }
  .outer--our-awesome-state .our-awesome-state .discount-content > * {
    width: 50%;
  }
}
.outer--our-awesome-state .our-awesome-state .discount-content .discount-definition {
  position: relative;
  z-index: 1;
  background-image: url("../imgs/discount-background1.jpg");
  animation-name: changeDiscountBG;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.outer--our-awesome-state .our-awesome-state .discount-content .discount-definition::before {
  content: "";
  background-color: rgba(23, 135, 224, 0.97);
  z-index: -1;
}
.outer--our-awesome-state .our-awesome-state .discount-content .discount-definition > *:not(.image) {
  width: fit-content;
  margin-inline: auto;
  color: white;
}
.outer--our-awesome-state .our-awesome-state .discount-content .discount-definition .title {
  font-size: 2rem;
  margin-block-end: 2rem;
}
.outer--our-awesome-state .our-awesome-state .discount-content .discount-definition p {
  text-align: center;
}
.outer--our-awesome-state .our-awesome-state .discount-content .discount-definition .image {
  margin-inline: auto;
  margin-block: 1rem;
  width: 50%;
}
.outer--our-awesome-state .our-awesome-state .discount-content .discount-definition .image img {
  width: 100%;
}
.outer--our-awesome-state .our-awesome-state .discount-content form.request {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
}
.outer--our-awesome-state .our-awesome-state .discount-content form.request > *:not(.title) {
  width: 90%;
  padding: 1rem;
  border: none;
}
@media (min-width: 768px) {
  .outer--our-awesome-state .our-awesome-state .discount-content form.request > *:not(.title) {
    width: 60%;
  }
}
.outer--our-awesome-state .our-awesome-state .discount-content form.request > *:not(.title):focus {
  outline: none;
}
.outer--our-awesome-state .our-awesome-state .discount-content form.request > *:not(.title):not([type=submit]) {
  border-bottom: 1px solid grey;
  background-color: rgba(236, 236, 236, 0.5);
}
.outer--our-awesome-state .our-awesome-state .discount-content form.request .title {
  font-size: 2rem;
}
.outer--our-awesome-state .our-awesome-state .discount-content form.request textarea {
  resize: none;
}
.outer--our-awesome-state .our-awesome-state .discount-content form.request input[type=submit] {
  background-color: rgba(23, 135, 224, 0.97);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.outer--our-awesome-state .our-awesome-state .discount-content form.request input[type=submit]:hover, .outer--our-awesome-state .our-awesome-state .discount-content form.request input[type=submit]:active {
  opacity: 0.8;
}

@keyframes changeDiscountBG {
  0%, 100% {
    background-image: url("../imgs/discount-background1.jpg");
  }
  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}
footer#footer {
  background-color: #191919;
}
footer#footer > *:not(h3) {
  color: #666;
  text-align: center;
}
footer#footer .footer-boxs {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  align-items: center;
}
footer#footer .footer-boxs .box header h3 {
  font-size: 3rem;
}
footer#footer .footer-boxs .box main {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
}
footer#footer .footer-boxs .box main a {
  display: inline-block;
  background-color: #313131;
  padding: 0.1rem 0.8rem;
}
footer#footer .footer-boxs .box main a:hover {
  opacity: 0.8;
}
footer#footer .footer-boxs .box main a svg {
  width: 2rem;
  color: #b9b9b9;
}
footer#footer .footer-boxs .box footer p {
  line-height: 1.7rem;
}
@media (min-width: 768px) {
  footer#footer .footer-boxs .box .list-importants {
    text-align: start;
  }
}
footer#footer .footer-boxs .box .list-importants li {
  padding: 1rem 0;
  cursor: pointer;
}
footer#footer .footer-boxs .box .list-importants li:hover div {
  transform: translateX(1rem);
  color: white;
}
footer#footer .footer-boxs .box .list-importants li:not(:first-child) {
  border-top: 1px solid #666;
}
footer#footer .footer-boxs .box .list-importants li div {
  transition: transform 500ms;
}
footer#footer .footer-boxs .box .list-importants li div span svg {
  vertical-align: middle;
  width: 1rem;
}
footer#footer .footer-boxs .box .list-contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  footer#footer .footer-boxs .box .list-contacts {
    text-align: start;
  }
}
footer#footer .footer-boxs .box .list-contacts li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  footer#footer .footer-boxs .box .list-contacts li {
    flex-direction: row;
    align-items: center;
  }
}
footer#footer .footer-boxs .box .list-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 40px;
  gap: 1.5rem;
}
footer#footer .footer-boxs .box .list-gallery li {
  background-color: white;
  padding: 0.2rem;
}
footer#footer .footer-boxs .box .list-gallery li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer#footer footer {
  border-top: 1px solid #666;
  text-align: center;
  padding: 1.5rem;
}
footer#footer footer span {
  color: white;
}

/*# sourceMappingURL=style.css.map */
