.section-header > .content > .title::after, .section-header > .content > .title:before {
  background-color: #2196f3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 500ms linear;
  z-index: -1;
}

.section-header > .content > .title:hover:before, .section-header > .content > .title:hover:after {
  width: 51%;
  height: 100%;
  border-radius: unset;
}

.outerservices .services .services-boxs .box, .outerfeatures .features .features-content .boxs .box, .outergallery .gallery-content .boxs .box, .outerarticles .content .boxs .box {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.outerservices .services .services-boxs .box .footer .number:after, .outerservices .services .services-boxs .box .footer .number:before, .outerfeatures .features .features-content .boxs .box .footer button::before, .outerfeatures .features .features-content .boxs .box .image::after, .outerfeatures .features .features-content .boxs .box .image::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.outerservices::before, .outergallery::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
  z-index: 1;
}

.pro-reactjs::before, .pro-js::before, .pro-sass::before, .pro-css::before, .pro-html::before {
  padding: 0.1rem;
  font-size: 0.6rem;
  border: solid #666 1px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style-type: none;
}

section {
  position: relative;
  z-index: 1;
}

.container {
  width: 90%;
  margin: auto;
  height: 100%;
}
@media (min-width: 1700px) {
  .container {
    width: 50%;
  }
}

svg {
  color: #2196f3;
  width: 22px;
}

section:not(:first-of-type) {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-header {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}
.section-header > .content > .title {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: solid grey 1px;
  position: relative;
  transition: color 500ms 100ms;
}
@media (min-width: 768px) {
  .section-header > .content > .title {
    font-size: 2.5rem;
  }
}
.section-header > .content > .title:before {
  content: "";
  left: -15%;
}
.section-header > .content > .title::after {
  content: "";
  right: -15%;
}
.section-header > .content > .title:hover {
  color: white;
}
.section-header > .content > .title:hover:before {
  left: 0;
}
.section-header > .content > .title:hover:after {
  right: 0;
}

.layout-red .image::before {
  background-color: rgba(244, 64, 54, 0.6);
}
.layout-red .box-content .title::after {
  background-color: rgba(244, 64, 54, 0.6);
}
.layout-red .footer button {
  color: rgba(244, 64, 54, 0.6);
  border: 1px solid rgba(244, 64, 54, 0.6);
}
.layout-red .footer button::before {
  background-color: rgba(244, 64, 54, 0.6);
}

.layout-green .image::before {
  background-color: rgba(0, 150, 136, 0.6);
}
.layout-green .box-content .title::after {
  background-color: rgba(0, 150, 136, 0.6);
}
.layout-green .footer button {
  color: rgba(0, 150, 136, 0.6);
  border: 1px solid rgba(0, 150, 136, 0.6);
}
.layout-green .footer button::before {
  background-color: rgba(0, 150, 136, 0.6);
}

.layout-blue .image::before {
  background-color: rgba(3, 169, 244, 0.6);
}
.layout-blue .box-content .title::after {
  background-color: rgba(3, 169, 244, 0.6);
}
.layout-blue .footer button {
  color: rgba(3, 169, 244, 0.6);
  border: 1px solid rgba(3, 169, 244, 0.6);
}
.layout-blue .footer button::before {
  background-color: rgba(3, 169, 244, 0.6);
}

.pro-html::before {
  content: "80%";
}
.pro-html + .progress {
  background-image: linear-gradient(to right, #2196f3 80%, transparent 80%);
}

.pro-css::before {
  content: "85%";
}
.pro-css + .progress {
  background-image: linear-gradient(to right, #2196f3 85%, transparent 85%);
}

.pro-sass::before {
  content: "80%";
}
.pro-sass + .progress {
  background-image: linear-gradient(to right, #2196f3 80%, transparent 80%);
}

.pro-js::before {
  content: "75%";
}
.pro-js + .progress {
  background-image: linear-gradient(to right, #2196f3 75%, transparent 75%);
}

.pro-reactjs::before {
  content: "80%";
}
.pro-reactjs + .progress {
  background-image: linear-gradient(to right, #2196f3 80%, transparent 80%);
}

header {
  box-shadow: 0 0 1px 0 black;
  position: relative;
  z-index: 1000;
}
header .header {
  text-align: center;
}
@media (min-width: 768px) {
  header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
header .header .logo h2 {
  padding: 1rem;
  padding-left: 0%;
  color: #2196f3;
  font-size: 2rem;
}
header .header nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  header .header nav > ul {
    justify-content: space-evenly;
    align-items: center;
  }
}
header .header nav > ul li.headerouterlinks > a {
  color: black;
  position: relative;
  overflow: hidden;
  transition: color 300ms ease-out;
  padding: 0.5rem;
}
@media (min-width: 600px) {
  header .header nav > ul li.headerouterlinks > a {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  header .header nav > ul li.headerouterlinks > a {
    font-size: 1.15rem;
    padding: 1.5rem;
  }
}
header .header nav > ul li.headerouterlinks > a::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  width: 0%;
  height: calc(100% - 4px);
  border-bottom: solid #2196f3 4px;
  transition: width 300ms ease-out;
}
header .header nav > ul li.headerouterlinks > a:hover::before {
  width: 100%;
}
header .header nav > ul li.headerouterlinks > a:hover {
  color: #2196f3;
  background-color: #fafafa;
}
header .header nav > ul li.headerouterlinks.otherlinks .outheader {
  opacity: 0;
  visibility: hidden;
  background-color: white;
  position: absolute;
  padding: 1rem;
  top: 150%;
  left: 0%;
  width: 100%;
  text-align: left;
  transition: top 300ms ease-out;
  box-shadow: 0 0 1px 0 grey;
  border-bottom: solid #2196f3 2px;
  overflow: hidden;
}
@media (min-width: 768px) {
  header .header nav > ul li.headerouterlinks.otherlinks .outheader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 330px;
  }
}
@media (min-width: 992px) {
  header .header nav > ul li.headerouterlinks.otherlinks .outheader {
    display: flex;
    height: 350px;
  }
  header .header nav > ul li.headerouterlinks.otherlinks .outheader > * {
    width: 50%;
  }
}
@media (min-width: 1700px) {
  header .header nav > ul li.headerouterlinks.otherlinks .outheader {
    column-gap: 7rem;
  }
}
header .header nav > ul li.headerouterlinks.otherlinks .outheader .img {
  display: none;
  padding: 1rem;
}
@media (min-width: 992px) {
  header .header nav > ul li.headerouterlinks.otherlinks .outheader .img {
    display: block;
  }
}
header .header nav > ul li.headerouterlinks.otherlinks .outheader .img img {
  width: 70%;
}
@media (min-width: 1700px) {
  header .header nav > ul li.headerouterlinks.otherlinks .outheader .img img {
    width: 100%;
  }
}
header .header nav > ul li.headerouterlinks.otherlinks .outheader ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
@media (min-width: 768px) {
  header .header nav > ul li.headerouterlinks.otherlinks .outheader ul {
    column-gap: 20px;
  }
}
header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li:not(:last-child) a {
  border-bottom: solid 1px #e9e6e6;
}
@media (min-width: 768px) {
  header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li:nth-child(5) a {
    border-bottom: none;
  }
}
header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li a {
  color: #2196f3;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li a:hover {
  background-color: #fafafa;
}
header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li a > svg {
  margin-right: 4px;
}
header .header nav > ul li.headerouterlinks.otherlinks .outheader ul li a > * {
  vertical-align: middle;
}
@media (min-width: 768px) {
  header .header nav > ul li.headerouterlinks.otherlinks .outheader {
    left: 5%;
    width: 90%;
  }
}
header .header nav > ul li.headerouterlinks.otherlinks:hover .outheader {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.outerlanding {
  height: calc(100vh - 73px);
}
.outerlanding::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: -1;
}
.outerlanding .landing {
  height: 100%;
  display: flex;
  align-items: center;
}
.outerlanding .landing .landingtext {
  padding: 1.9rem;
  text-align: center;
}
@media (min-width: 600px) {
  .outerlanding .landing .landingtext {
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .outerlanding .landing .landingtext {
    width: auto;
    margin: none;
    text-align: left;
    padding-left: 0%;
    padding-right: 0%;
  }
}
.outerlanding .landing .landingtext h1 {
  font-size: 1.6rem;
  padding: 1.2rem;
}
@media (min-width: 600px) {
  .outerlanding .landing .landingtext h1 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .outerlanding .landing .landingtext h1 {
    font-size: 2.4rem;
    padding-left: 0%;
  }
}
.outerlanding .landing .landingtext p {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
@media (min-width: 992px) {
  .outerlanding .landing .landingtext p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.outerlanding .landing .img {
  display: none;
}
@media (min-width: 992px) {
  .outerlanding .landing .img {
    display: block;
  }
}
.outerlanding .landing .img img {
  width: 100%;
  height: 100%;
  animation-name: landingImg;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.outerlanding .godown {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 15px);
  animation-name: goDown;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.outerlanding .godown svg {
  width: 30px;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes landingImg {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(5%);
  }
}
@keyframes goDown {
  0%, 70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-30%);
  }
  85% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}
.outerarticles .content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 40px;
}
.outerarticles .content .boxs .box {
  border-radius: 10px;
  transition: transform 500ms;
}
.outerarticles .content .boxs .box > {
  width: 100%;
}
.outerarticles .content .boxs .box:hover {
  transform: translateY(-5%);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}
.outerarticles .content .boxs .box:hover .footer svg {
  animation-play-state: running;
}
.outerarticles .content .boxs .box .image img {
  width: 100%;
}
.outerarticles .content .boxs .box .box-content {
  padding: 1rem;
}
.outerarticles .content .boxs .box .box-content .title h5 {
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}
.outerarticles .content .boxs .box .box-content .text-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #666;
}
.outerarticles .content .boxs .box .footer {
  padding: 1rem;
  border-top: solid rgba(0, 0, 0, 0.1) 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.outerarticles .content .boxs .box .footer span {
  font-weight: bold;
  color: #2196f3;
}
.outerarticles .content .boxs .box .footer svg {
  animation: arrow 500ms linear infinite;
  animation-play-state: paused;
}

@keyframes arrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(40%);
  }
}
.outergallery {
  position: relative;
  background-color: #ececec;
}
.outergallery::before {
  content: "";
}
.outergallery .gallery-content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.outergallery .gallery-content .boxs .box {
  background-color: white;
  padding: 1rem;
}
.outergallery .gallery-content .boxs .box .image {
  overflow: hidden;
  position: relative;
}
.outergallery .gallery-content .boxs .box .image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(0);
  z-index: 1;
  transition: transform 200ms ease-out, background-color 0s 300ms;
}
.outergallery .gallery-content .boxs .box .image:hover::before {
  transform: scale(1);
  background-color: transparent;
}
.outergallery .gallery-content .boxs .box .image:hover img {
  transform: rotatez(5deg) scale(1.1);
}
.outergallery .gallery-content .boxs .box .image img {
  width: 100%;
  transition: transform 100ms ease-in;
}

.outerfeatures .features .features-content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
}
.outerfeatures .features .features-content .boxs .box:hover .image::after {
  clip-path: polygon(0 50%, 0% 100%, 100% 100%);
}
.outerfeatures .features .features-content .boxs .box .image {
  position: relative;
  overflow: hidden;
}
.outerfeatures .features .features-content .boxs .box .image::before {
  content: "";
  height: calc(100% - 3px);
}
.outerfeatures .features .features-content .boxs .box .image::after {
  content: "";
  background-color: white;
  clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
  transition: clip-path 300ms;
}
.outerfeatures .features .features-content .boxs .box .image img {
  width: 100%;
}
.outerfeatures .features .features-content .boxs .box .box-content .title {
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem;
  position: relative;
}
.outerfeatures .features .features-content .boxs .box .box-content .title::after {
  content: "";
  width: 50%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.outerfeatures .features .features-content .boxs .box .box-content .title h4 {
  font-size: 2rem;
}
.outerfeatures .features .features-content .boxs .box .box-content .content {
  padding: 2rem;
}
.outerfeatures .features .features-content .boxs .box .box-content .content p {
  text-align: center;
  line-height: 1.8rem;
  color: #666;
}
.outerfeatures .features .features-content .boxs .box .footer {
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem;
}
.outerfeatures .features .features-content .boxs .box .footer button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.outerfeatures .features .features-content .boxs .box .footer button:hover {
  color: white;
}
.outerfeatures .features .features-content .boxs .box .footer button:hover::before {
  width: 100%;
}
.outerfeatures .features .features-content .boxs .box .footer button::before {
  content: "";
  width: 0;
  z-index: -1;
  transition: width 200ms;
}

.outertestmonials {
  background-color: #ececec;
}
.outertestmonials .testimonials .testimonials-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.outertestmonials .testimonials .testimonials-boxs .box {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
.outertestmonials .testimonials .testimonials-boxs .box .image {
  position: absolute;
  top: -35px;
  right: -1px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #ececec;
}
.outertestmonials .testimonials .testimonials-boxs .box .image img {
  width: 100%;
}
.outertestmonials .testimonials .testimonials-boxs .box .box-content > * {
  margin: 5px 0;
}
.outertestmonials .testimonials .testimonials-boxs .box .box-content .name {
  font-size: 1.5rem;
}
.outertestmonials .testimonials .testimonials-boxs .box .box-content .title,
.outertestmonials .testimonials .testimonials-boxs .box .box-content .content-text {
  color: #666;
}
.outertestmonials .testimonials .testimonials-boxs .box .box-content .rank svg.h-5 {
  color: gold;
}
.outertestmonials .testimonials .testimonials-boxs .box .box-content .rank svg.h-6 {
  color: black;
}
.outertestmonials .testimonials .testimonials-boxs .box .box-content .content-text {
  line-height: 1.3rem;
}

.outerteam-members .team-members .team-members-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.outerteam-members .team-members .team-members-boxs .box {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 2rem;
  border-radius: 20px;
  overflow: hidden;
}
.outerteam-members .team-members .team-members-boxs .box:hover::after {
  width: 80%;
}
.outerteam-members .team-members .team-members-boxs .box:hover .header .image img {
  filter: grayscale(100%);
}
.outerteam-members .team-members .team-members-boxs .box:hover .footer .name {
  color: #666;
}
.outerteam-members .team-members .team-members-boxs .box::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #eeeeee50;
  border-radius: 20px;
}
.outerteam-members .team-members .team-members-boxs .box::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #ececec;
  border-radius: 20px;
  transition: width 300ms;
}
.outerteam-members .team-members .team-members-boxs .box .header {
  display: flex;
}
.outerteam-members .team-members .team-members-boxs .box .header .image {
  overflow: hidden;
  border-radius: 20px;
}
.outerteam-members .team-members .team-members-boxs .box .header .image img {
  width: 100%;
  transition: filter 300ms;
}
.outerteam-members .team-members .team-members-boxs .box .header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
}
.outerteam-members .team-members .team-members-boxs .box .header .icons svg {
  color: #666;
}
.outerteam-members .team-members .team-members-boxs .box .footer {
  display: flex;
  flex-direction: column;
  padding-inline-start: 6rem;
}
.outerteam-members .team-members .team-members-boxs .box .footer .name {
  color: #2196f3;
  font-size: 1.7rem;
}
.outerteam-members .team-members .team-members-boxs .box .footer .content {
  color: #666;
}

.outerservices {
  position: relative;
  background-color: #ececec;
}
.outerservices::before {
  content: "";
}
.outerservices .services .services-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.outerservices .services .services-boxs .box {
  background-color: white;
  transition: transform 500ms;
  position: relative;
}
.outerservices .services .services-boxs .box:hover {
  transform: translateY(-10%);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}
.outerservices .services .services-boxs .box:hover::before {
  width: 100%;
  left: 0;
}
.outerservices .services .services-boxs .box::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 50%;
  top: 0;
  transition: width 500ms, left 500ms;
}
.outerservices .services .services-boxs .box .box-content {
  padding: 1.5rem;
}
.outerservices .services .services-boxs .box .box-content .icon {
  text-align: center;
}
.outerservices .services .services-boxs .box .box-content .icon svg {
  color: rgba(102, 102, 102, 0.3);
  width: 120px;
}
.outerservices .services .services-boxs .box .box-content .title {
  color: #2196f3;
  font-size: 1.7rem;
  text-align: center;
}
.outerservices .services .services-boxs .box .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #eee 25%, white);
  overflow: hidden;
}
.outerservices .services .services-boxs .box .footer .number {
  background-color: #2196f3;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.outerservices .services .services-boxs .box .footer .number:before {
  content: "";
  left: 30%;
  background-color: #2196f3;
  z-index: -1;
  transform: skewX(333deg);
}
.outerservices .services .services-boxs .box .footer .number:after {
  content: "";
  left: 100%;
  background-color: #d5d5d5;
  z-index: -2;
  transform: skewX(333deg);
}
.outerservices .services .services-boxs .box .footer .details {
  text-transform: capitalize;
  padding: 1rem;
  color: #2196f3;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .outerour-skills .our-skills .our-skills-content {
    display: flex;
  }
}
.outerour-skills .our-skills .our-skills-content .image {
  display: none;
}
@media (min-width: 768px) {
  .outerour-skills .our-skills .our-skills-content .image {
    display: block;
  }
}
@media (min-width: 992px) {
  .outerour-skills .our-skills .our-skills-content .image {
    width: 45%;
  }
}
.outerour-skills .our-skills .our-skills-content .image img {
  width: 100%;
}
@media (min-width: 992px) {
  .outerour-skills .our-skills .our-skills-content .progresss {
    width: 55%;
  }
}
.outerour-skills .our-skills .our-skills-content .progresss .pro-content {
  position: relative;
  margin: 1rem 0;
  font-weight: bold;
}
.outerour-skills .our-skills .our-skills-content .progresss .pro-content:first-child {
  margin-top: 0;
}
@media (min-width: 992px) {
  .outerour-skills .our-skills .our-skills-content .progresss .pro-content {
    font-size: 1.3rem;
  }
}
.outerour-skills .our-skills .our-skills-content .progresss .progress {
  height: 2rem;
}

/*# sourceMappingURL=style.css.map */
