*{
box-sizing: border-box;
margin: 0%;
padding: 0%;
}

body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    display: block;
}

li{
    list-style-type: none;
}

section{
    position: relative;
    z-index: 1;
}

.container{
    width:90%;
    margin: auto;
    height: 100%;
    @include xl(){
        width:50%;
    }
}


svg{
    color: $mainColor;
    width:22px;
}


section:not(:first-of-type){
    padding: {
        top: 200px;
        bottom: 200px;
    }
}


.section-header{
    width: fit-content;
    margin: {
        left:auto;
        right:auto;
        bottom:6rem;
    };
    
    > .content{

        > .title{
            padding: 0.5rem 1rem;
            font-size: 1.5rem;
            @include md(){
                font-size: 2.5rem;
        }
            border: solid grey 1px;
            position: relative;
            transition:color $section-header-trans 100ms ;
            &:before{
                content:"";
                @extend %section-header-out;
                left: -15%;
            }
            &::after{
                content:'';
                @extend %section-header-out;
                right: -15%;
            }
            &:hover{
                color:white;
            }
            &:hover:before,
            &:hover:after{
                @extend %section-header-in;
            }
            &:hover:before{
                left: 0;
            }
            &:hover:after{
                right:0;
            }
        }
    }
    
}


.have-dots{
    position: relative;
    &::before{
        content: "";
        position:absolute;
        left: 0;
        bottom: 25%;
        background-image: url("../imgs/dots.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
    }
    &::after{
        content: "";
        position:absolute;
        right: 0;
        top: 25%;
        background-image: url("../imgs/dots.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
    }
}


@each $key,$val in $layout-color {
    .layout-#{$key}{
        .image{
            &::before{
                background-color:$val;
            }
        }
        .box-content{
            .title{
                &::after{
                    background-color:$val;
                }
            }
        }
        .footer{
            button{
                color:$val;
                border: 1px solid $val;
                &::before{
                    background-color:$val;
                }
            }
        }
    }
}



@each $key,$val in $progress {
    .pro-#{$key}{
        &::before{
            content:"#{$val}";
            @extend %pro-before;
            @include md(){
                font-size: 0.9rem;
            }
        }
        + .progress{
            background-image: linear-gradient(to right, $mainColor $val,transparent $val);
        }
    }

}