

@mixin sm(){
    @media (min-width:map-get($screenWidth,"sm")) {
        @content
    }
};
@mixin md(){
    @media (min-width:map-get($screenWidth,"md")) {
        @content
    }
};

@mixin lg(){
    @media (min-width:map-get($screenWidth,"lg")) {
        @content
    }
};

@mixin xl(){
    @media (min-width:map-get($screenWidth,"xl")) {
        @content
    }
};


@mixin grid-boxs($size,$gap:40px) {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax($size,1fr));
    gap: $gap;
}