$mainColor:#2196f3;
$mainBGColor:#ececec;
$paddingHeader:1rem;
$sizeBorderOfHeaderLinks: 4px;
$hoverBG:#fafafa;
$linksBorderColor:#e9e6e6;
$pargraphColor:#666;
$pargraphLineHeight:1.7rem;
$section-header-trans:500ms;
$box-articles-shadow:rgb(0 0 0 / 10%);
$box-articles-shadow-hover:rgb(0 0 0 / 20%);


// Mixin Screen Width

$screenWidth:(
    "sm":600px,
    "md":768px,
    "lg":992px,
    "xl":1700px,
);

$layout-color:(
    "red":rgb(244 64 54 / 60%),
    "green":rgb(0 150 136 / 60%),
    "blue":rgb(3 169 244 / 60%),
);


//inherits
%section-header-out{
    background-color:$mainColor;
    width:10px;
    height:10px;
    border-radius: 50%;
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    transition:all $section-header-trans linear;
    z-index: -1;
};


%section-header-in{
    width:51%;
    height:100%;
    border-radius: unset;
};


%box{
    box-shadow: 0 1px 20px 0  $box-articles-shadow;
    overflow: hidden;
    cursor: pointer;
}


%layout{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
}